/*HEADER -------------- start*/
.header-logo {
    background-image: url("https://images.unsplash.com/photo-1571091718767-18b5b1457add?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=801098427");
    background-size: cover;
    display: flex;
    flex-direction: column;

}
.rating {
    padding: 0.5rem;
    border-radius: 50px 50px 50px 50px;
    background-color: yellow;
    margin: 1rem auto;

}
.price-logo {
    font-size: 60px;
    color: red;
}

/*HEADER -------------- end*/
 .container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: red;
     height: 100vh;
 }